<section class="container-fluid">
    <mat-card class="card mt-2 pt-2">
        <img mat-card-lg-image src="/assets/images/HHS.png" alt="Hale Health Services"
            class="img-fluid object-fit-fill rounded mx-auto d-block" />
        <mat-card-title>
            <h1 class="fs-1">Welcome to Hale Health Services</h1>
        </mat-card-title>
        <mat-divider></mat-divider>

        <div class="mat-elevation-z6 row row-cols-1 row-cols-md-2 g-4 mt-1 pt-1 d-flex flex-center ">
            <div class="col col-lg-4 col-md-6 col-sm-12">
                <mat-card class="card m-1 p-1 mat-elevation-z4">
                <img src="/assets/images/online_bookings.png" alt="Hale Health Services" class="card-img-top img-fluid object-fit-fill rounded mx-auto d-block" />
                <div class="card-body">
                    <h5 class="card-title">Book Doctors' Appointment</h5>
                    <p class="card-text">Using our online booking service, you can schedule appointments with your preffered medical practioner.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/locations">
                        <button mat-raised-button color="primary" class="text-white">
                            <mat-icon class="material-symbols-outlined">booking_online</mat-icon>
                            Make Appointment
                        </button>
                    </a>
                    <br/>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            </div>
            
            <div class="col col-lg-4 col-md-6 col-sm-12">
                <mat-card class="card m-1 p-1 mat-elevation-z4">
                <img src="/assets/images/vault.png" alt="Hale Health Services" class="card-img-top img-fluid object-fit-fill rounded mx-auto d-block" />
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Use our secure File Vault to store  and protect all your medical files. </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Own your data</li>
                        <li class="list-group-item">HCCP Approved</li>
                        <li class="list-group-item">Control who you share your files with.</li>
                        <li class="list-group-item">Monitor how your files are being accessed</li>
                        <li class="list-group-item">Protect files with encrypted passwords.</li>
                        <li class="list-group-item">Share File securely</li>
                    </ul>
                </div>
                <div class="card-footer">
                     <a routerLink="/vault">
                        <button mat-raised-button color="primary" class="text-white">
                            <mat-icon class="material-symbols-outlined">shield_locked</mat-icon>
                            My Files
                        </button>
                    </a>
                    <br/>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            </div>

            <div class="col col-lg-4 col-md-6 col-sm-12">
                <mat-card class="card m-1 p-1 mat-elevation-z4">
                <img src="/assets/images/health_covers.png" alt="Hale Health Services" class="card-img-top img-fluid object-fit-fill rounded mx-auto d-block" />
                <div class="card-body">
                    <h5 class="card-title">Find Health/Medical covers</h5>
                    <p class="card-text">Find medical/health covers that suits you from wide array of service providers</p>
                    <p class="card-text">Register, Subscribe,  Pay</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/health-covers">
                        <button mat-raised-button color="primary" class="text-white">
                            <mat-icon class="material-symbols-outlined">workspace_premium</mat-icon>
                            Medical/Health Covers
                        </button>
                    </a>
                    <br/>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            </div>

            <div class="col col-lg-4 col-md-6 col-sm-12">
                <mat-card class="card m-1 p-1 mat-elevation-z4">
                <img src="/assets/images/invoices.png" alt="Hale Health Services" class="card-img-top img-fluid object-fit-fill rounded mx-auto d-block" />
                <div class="card-body">
                    <h5 class="card-title">My Invoices</h5>
                    <p class="card-text">Find all your invoices from all service providers registered with us.</p>
                    
                </div>
                <div class="card-footer">
                    <a routerLink="/subscriptions">
                        <button mat-raised-button color="primary" class="text-white">
                            <mat-icon class="material-symbols-outlined">monetization_on</mat-icon>
                            My Invoices
                        </button>
                    </a>
                    <br/>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            </div>

            <div class="col col-lg-4 col-md-6 col-sm-12">
                <mat-card class="card m-1 p-1 mat-elevation-z4">
                <img src="/assets/images/online_payments.png" alt="Hale Health Services" class="card-img-top img-fluid object-fit-fill rounded mx-auto d-block" />
                <div class="card-body">
                    <h5 class="card-title">Online Payments</h5>
                    <p class="card-text">Make secure online payments to our service providers</p>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a routerLink="/checkout/payments">
                        <button mat-raised-button color="primary" class="text-white">
                            <mat-icon class="material-symbols-outlined">payments</mat-icon>
                            Secure Payments
                        </button>
                    </a>
                    <br/>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            </div>

            <div class="col col-lg-4 col-md-6 col-sm-12">
                <mat-card class="card m-1 p-1 mat-elevation-z4">
                <img src="/assets/images/online_bookings.png" alt="Hale Health Services" class="card-img-top img-fluid object-fit-fill rounded mx-auto d-block" />
                <div class="card-body">
                    <h5 class="card-title">Reserve Medical Appointment </h5>
                    <p class="card-text">Reserve Medical Appointments With your Preffered Doctor.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/econsult">
                        <button mat-raised-button color="primary" class="text-white">
                            <mat-icon class="material-symbols-outlined">booking_online</mat-icon>
                            Make Appointment
                        </button>
                    </a>
                    <br/>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            </div>
        </div>
    </mat-card>
</section>