<section class="container-fluid">
      <div class="mat-elevation-z6 row row-cols-1 row-cols-md-2 g-4 mt-1 pt-1 d-flex flex-center ">
            <div class="col col-lg-4 col-md-6 col-sm-12" *ngIf="Consultants">
                <mat-card class="card m-1 p-1 mat-elevation-z4"  *ngFor="let entry of Consultants">
        <mat-card-title-group class="centered">
            <mat-card-title>
                <h3 class="fs-3">  {{ entry.given_name }} {{ entry.family_name }} </h3>
            </mat-card-title>
            <mat-card-subtitle>
                <img mat-card-lg-image class="img-fluid profile-pic" src="/assets/images/econsult.png" alt="Hale Health Services" />
            </mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content class="centered mt-4 pt-4">
            
            
            <mat-divider><span class="m-4 fs-4">Phone Number</span></mat-divider>            
            <h4 class="fs-4">{{ entry.phone_number }}</h4>

            <mat-divider><span class="m-4 fs-4">Email</span></mat-divider>            
            <h5 class="fs-5 flex-wrap">{{ entry.email_address }}</h5>
                    
        </mat-card-content>
    </mat-card>
    <mat-card>
        

        <mat-card-actions>
            
        </mat-card-actions>
    </mat-card>
    </div>
</div>
</section>
