<section class="container-fluid">
  <mat-card class="card text-start m-1 p-2">
        <mat-card-title>
          <h2>Submit Documents</h2>
        </mat-card-title>
        <mat-card-content class="card-body">
          <p class="card-body">For All Policies to be activated, these deocuments needs to be submitted to <strong>hhs&#64;vivaldi.net</strong></p>
          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Recent ID document/Passport/Military ID.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Comprehensive medical report from reputable health institutions.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Signed policy documents.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

          </mat-list>

        </mat-card-content>
        <mat-card-footer class="card-footer">
          <a routerLink="/vault">
            <button mat-raised-button color="secondary">
              <mat-icon class="material-icons">send</mat-icon>
              Send documents
            </button>
          </a>
        </mat-card-footer>
      </mat-card>
  <mat-card class="card-group">
    <mat-card-content class="flex-row">
      <mat-card class="card text-start m-1 p-2">
        <mat-card-title>
          <h2>New Life Jumbo Cover</h2>
        </mat-card-title>
        <mat-card-content class="card-body">
          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Out-patient cover upto Kshs 2000.00 per Day.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>In-patient cover upto Kshs 2000,000.00.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Dental Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Postnatal And Antenatal Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Emergency Ambulance Services.</h6>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
        <mat-card-footer class="card-footer">
          <button mat-raised-button color="secondary" (click)="activateSubscription('UKOR56OCJRV3XL6LLGXG423B')">
              <mat-icon class="material-icons">card_membership</mat-icon>
              Subscribe for USD 745 Monthly
          </button>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card text-start m-1 p-2">
        <mat-card-title>
          <h2>New Life Max Cover</h2>
        </mat-card-title>
        <mat-card-content class="card-body">

          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Out-patient cover upto Kshs 4000.00 per Day.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>In-patient cover upto Kshs 4000,000.00.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Dental Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Postnatal And Antenatal Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Emergency Ambulance Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Pharmacy & Pharmacology related Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Free Cancer Screening Services.</h6>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
        <mat-card-footer class="card-footer">
          <button mat-raised-button color="secondary" (click)="activateSubscription('OFDUMN7GEA3Q3PG74ABLBV5G')">
              <mat-icon class="material-icons">card_membership</mat-icon>
              Subscribe for USD 1750 Monthly
          </button>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card text-start m-1 p-2">
        <mat-card-title>
          <h2>New Life Deluxe Cover</h2>
        </mat-card-title>
        <mat-card-content class="card-body">
          <mat-list>
            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Out-patient cover upto Kshs 7000.00 per Day.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>In-patient cover upto Kshs 7000,000.00.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Dental Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Postnatal And Antenatal Care.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Emergency medical Ambulance & Airlift Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Pharmacy & Pharmacology related Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Free Cancer Screening Services.</h6>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <h6><mat-icon class="material-icons text-primary pr-2">check_small</mat-icon>Free and 24/7 Online Doctor consultation Services.</h6>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer class="card-footer">
          <button mat-raised-button color="secondary" (click)="activateSubscription('VIZ6YEOSVZB25CQRBYPZQ27D')">
              <mat-icon class="material-icons">card_membership</mat-icon>
              Subscribe for USD 3000 Monthly
          </button>
        </mat-card-footer>
      </mat-card>
    </mat-card-content>

  </mat-card>
    <mat-card *ngIf="!SubscriptionPlans" class="card">
    <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
    <h2>Searching.....</h2>
  </mat-card>

</section>