<section class="container-fluid">
  <mat-card class="card">
    <mat-card-title>
      <h3>
        <a routerLink="/auth/signup">&nbsp; &nbsp;No Account Yet?</a>
        <a routerLink="/auth/signin">&nbsp; &nbsp;Login To Continue</a>
      </h3>
    </mat-card-title>
    <mat-card-content>
          <form [formGroup]="passwordResetForm" (ngSubmit)="ngOnSubmit()" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12" enctype="application/x-www-form-url-encoded">
            <mat-form-field appearance="fill" class="p-1 form-control">
              <mat-label>Email </mat-label>
              <mat-hint align="end"></mat-hint>
              <input type="email" matInput email="true" formControlName="email" placeholder="Email Address">
              <mat-icon matPrefix class="material-symbols-outlined">mail_outline</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>

            <mat-form-field appearance="fill" class="p-1 form-control">
              <mat-label>Old Password </mat-label>
              <mat-hint align="end"></mat-hint>
              <mat-icon matPrefix class="material-symbols-outlined">security</mat-icon>
              <input type="password" matInput formControlName="old_password" placeholder="Old Password">
            </mat-form-field>
            <div class="spacer"></div>

            <mat-form-field appearance="fill" class="p-1 form-control">
              <mat-label>New Password </mat-label>
              <mat-hint align="end"></mat-hint>
              <mat-icon matPrefix class="material-symbols-outlined">security</mat-icon>
              <input type="password" matInput formControlName="new_password" placeholder="New Password">
            </mat-form-field>
            <div class="spacer"></div>


            <mat-card-actions class="align-buttons-center">
              <button type="reset" mat-raised-button color="warn" class="text-white">
                <mat-icon class="material-symbols-outlined">cancel</mat-icon>
                Clear
              </button>

              <button type="submit" mat-raised-button [disabled]="!passwordResetForm.valid" matStepperNext>
                <mat-icon class="material-symbols-outlined">edit_circle</mat-icon>
                Reset Password
              </button>
            </mat-card-actions>
          </form>

    </mat-card-content>
  </mat-card>
</section>



