a{
  color: #002c91 !important;
  font-family: "Urbanist-Bold";
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}

.menu-item{
  color: #002c91;
  font-family: "Raleway-Bold";
  font-weight: 500;
  font-size: medium;
  text-decoration: none;
}


.nav-link{
  color: #002c91;
}

footer > a {
  color: #f0f7ff !important;
}

